<div class="alert alert-danger display-none" id="error-messages"></div>

{{ csrfField }}

<div class="form-group">
  {{ form.label('name', 'Name', { class: 'col-md-3 control-label' }) }}
  <div class="col-md-6">
    {{ form.text('name', "", { class: 'form-control' }) }}
  </div>
</div>

<div class="form-group">
  {{ form.label('description', 'Description', { class: 'col-md-3 control-label' }) }}
  <div class="col-md-6">
    {{ form.textarea('description', "", { class: 'form-control' }) }}
  </div>
</div>
