{% extends "master" %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-body">
    {{vehicle.name}}
  </div>
</div>

{% for item in data %}
  <div class="panel panel-default">
    <div class="panel-heading">
      {{item.nation}}
    </div>
    <div class="panel-body">
      {% for tank in item.tanks %}
        <div class="col-md-2 col-sm-3 col-xs-6">
          <div class="text-center">
            <a href="/tanks/{{tank.id}}">
              <img src="/assets/img/{{tank.icon}}" alt="Модуль">
              <p>{{tank.name}}</p>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}

{% endblock %}
