{% if old('errors') %}
  <div class="alert alert-danger">
    {% for error in old('errors') %}
      <li>{{ error.message }}</li>
    {% endfor %}
  </div>
{% endif %}

{{ csrfField }}

<div class="form-group">
  {{ form.label('name', 'Name', { class: 'col-md-3 control-label' }) }}
  <div class="col-md-6">
    {{ form.text('name', "", { class: 'form-control' }) }}
  </div>
</div>

<div class="form-group">
  {{ form.label('shell_type_id', 'Shell Type', { class: 'col-md-3 control-label' }) }}
  <div class="col-md-6">
    <select class="form-control" id="shell_type_id" name="shell_type_id">
      <option selected>Select Shell Type</option>
      {% for shellType in shellTypes %}
        <option value={{shellType.id}}>{{shellType.name}}</option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="form-group">
  {{ form.label('caliber', 'Caliber', { class: 'col-md-3 control-label' }) }}
  <div class="col-md-6">
    {{ form.text('caliber', "", { class: 'form-control' }) }}
  </div>
</div>

<div class="form-group">
  {{ form.label('penetration', 'Penetration', { class: 'col-md-3 control-label' }) }}
  <div class="col-md-6">
    {{ form.text('penetration', "", { class: 'form-control' }) }}
  </div>
</div>

<div class="form-group">
  {{ form.label('damage', 'Damage', { class: 'col-md-3 control-label' }) }}
  <div class="col-md-6">
    {{ form.text('damage', "", { class: 'form-control' }) }}
  </div>
</div>

<div class="form-group">
  {{ form.label('price', 'Price', { class: 'col-md-3 control-label' }) }}
  <div class="col-md-6">
    {{ form.text('price', "", { class: 'form-control' }) }}
  </div>
</div>
