{% extends "admin" %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    All Ammos
  </div>
  <div class="panel-body">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreate">
      + Add Ammo
    </button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Caliber</th>
          <th>Damage</th>
          <th>Penetration</th>
          <th>Shell Type</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        {% for ammo in ammos %}
          <tr>
            <td>{{ ammo.name }}</td>
            <td>{{ ammo.price }}</td>
            <td>{{ ammo.caliber }}</td>
            <td>{{ ammo.damage }}</td>
            <td>{{ ammo.penetration }}</td>
            <td>{{ ammo.shellType.name }}</td>
            <td class="col-sm-3">
              <ul class="list-inline col-sm-12">
                <li>
                  <button
                    class="btn btn-success btn-sm"
                    onclick='editModel({{ammo.id}}, "ammos")'
                     type="button" data-toggle="modal"
                     data-target="#modalEdit">
                    Edit
                  </button>
                </li>
                <li>
                  {{ form.open({action: 'AmmosController.destroy', params: {id: ammo.id}, class: 'form_delete' }) }}
                    {{ csrfField }}
                    {{ form.submit('Delete', 'delete', { class: "btn btn-danger btn-sm" })}}
                  {{ form.close() }}
              </li>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include "admin/ammos/create" %}
{% include "admin/ammos/edit" %}

{% endblock %}
