<div class="alert alert-danger display-none" id="error-messages"></div>

{{ csrfField }}

<div class="form-group">
  {{ form.label('level', 'Level', { class: 'col-md-3 control-label' }) }}
  <div class="col-md-6">
    {{ form.text('level', "0", { class: 'form-control' }) }}
  </div>
</div>

<div class="form-group">
  {{ form.label('name', 'Name', { class: 'col-md-3 control-label' }) }}
  <div class="col-md-6">
    {{ form.text('name', "", { class: 'form-control' }) }}
  </div>
</div>

<div class="form-group">
  {{ form.label('nation_id', 'Nation', { class: 'col-md-3 control-label' }) }}
  <div class="col-md-6">
    <select class="form-control" id="nation_id" name="nation_id">
      {% for nation in nations %}
        <option value={{nation.id}}>{{nation.name}}</option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="form-group">
  {{ form.label('armor', 'Armor', { class: 'col-md-3 control-label' }) }}
  <div class="col-md-6">
    {{ form.text('armor', "0", { class: 'form-control' }) }}
  </div>
</div>

<div class="form-group">
  {{ form.label('turret_traverse', 'Turret Traverse', { class: 'col-md-3 control-label' }) }}
  <div class="col-md-6">
    {{ form.text('turret_traverse', "0", { class: 'form-control' }) }}
  </div>
</div>

<div class="form-group">
  {{ form.label('view_range', 'View Range', { class: 'col-md-3 control-label' }) }}
  <div class="col-md-6">
    {{ form.text('view_range', "0", { class: 'form-control' }) }}
  </div>
</div>

<div class="form-group">
  {{ form.label('weight', 'Weight', { class: 'col-md-3 control-label' }) }}
  <div class="col-md-6">
    {{ form.text('weight', "0", { class: 'form-control' }) }}
  </div>
</div>

<div class="form-group">
  {{ form.label('price', 'Price', { class: 'col-md-3 control-label' }) }}
  <div class="col-md-6">
    {{ form.text('price', "0", { class: 'form-control' }) }}
  </div>
</div>
